
<script src="https://cdn.mlkcca.com/v0.6.0/milkcocoa.js"></script>
<script>
  var inputElement, tableElement;
  function push(){
    var memo = inputElement.value;
    var now = new Date().toString();
    fetch('/memo', {
      method: 'POST',
      body: JSON.stringify({date: now, content: memo}),
      headers: new Headers({
        'Content-Type': 'application/json'
      })
    });
  }
  window.onload = function(){
    var milkcocoa = new MilkCocoa('unijibqnq0p.mlkcca.com');
    var ds = milkcocoa.dataStore('memo');
    function addMemo(value){
      var tr = document.createElement('tr');
      var dateTd = document.createElement('td');
      dateTd.textContent = value.date;
      var memoTd = document.createElement('td');
      memoTd.textContent = value.content;
      tr.appendChild(dateTd)
      tr.appendChild(memoTd)
      tableElement.appendChild(tr)
    }
    tableElement = document.getElementById('table');
    inputElement = document.getElementById('input');
    ds.stream().next(function(err, messages){
      for(var message of messages){
        addMemo(message.value)
      }
    });
    ds.on('send', function(sended){
      console.log(sended)
      addMemo(sended.value)
    })
  };
</script>
<textarea id="input"></textarea>
<button onclick="push();">送信</button>
<table id="table">
</table>
